.search-container {
	display: flex;
	align-items: center;
  width: 75%;
}

.search-input {
  flex: 1;
	padding: 7.5px;
	font-size: 16px;
	border: 1px solid #EEE;
	border-radius: 3px 0 0 3px;
	outline: none;
}

.search-button {
	padding: 7.5px 20px;
	font-size: 16px;
	background-color: #EEE;
	color: #000;
	border: 1px solid #EEE;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	outline: none;
}

.search-button:hover {
	background-color: #ccc;
	border-color: #ccc;
}